<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BWebSolutions Inventory Tracker</title>
    <link rel="stylesheet" href="/styles.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="/app.js" defer></script>
  </head>
  <body>
    <header>
      <nav>
        <div class="navVisual">
          Bartholomew Web Solutions
        </div>
        <div class="navBtns">
          <a href="/inventory"><button>Back to Main</button></a>
          <a href="/inventory/new"><button>Add new item</button></a>
        </div>
      </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>
  </body>
</html> 