<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BWebSolutions Inventory Tracker</title>
    <link rel="stylesheet" href="/styles.css" />
    <script src="/app.js" defer></script>
  </head>
  <body>
    <header>
      <nav>
        <a href="/inventory"><button>Back to Main</button></a>
        <a href="/inventory/new"><button>Add new item</button></a>
      </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer></footer>
  </body>
</html> 