{% layout "layout.liquid" %}
{% block content %}

<div>

 <form action="/inventory" method="post">
  <fieldset>
    <legend>Create a New Inventory Item</legend>
        <label>
            Name:<br> <input type="text" name="name" placeholder="Enter item name"/>
        </label>
        <label>
            Image Link:<br> <input type="text" name="img" placeholder="Insert image link here"/>
        </label>
        <label>
            Purchase Price:<br> <input type="number" name="pricePaid"/>
        </label>
        <label>
            Listed Price:<br> <input type="number" name="priceListed"/>
        </label>
        <label>
            Date Purchased:<br> <input type="date" name="datePurchased"/>
        </label>
    </fieldset>
    <input type="submit" value="Create New Item"/>
 </form>

</div>


{% endblock %}