/*          LAYOUT STYLING          */
body {
    box-sizing: border-box;
    margin: 0;
}
nav {
    height: 8vh;
    width: 100%;
    background-color: black;
}

/*          INDEX PAGE STYLING           */
.iDisplay {
    height: 92vh;
    display: flex;
    flex-direction: column;
}
.row {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.row img {
    height: 85%;
    width: auto;
    border: 1px solid rgba(0, 0, 0, 0.384);
    border-radius: 5px;
}

/*          SHOW PAGE STYLING           */
.sDisplay {
    height: 92vh;
    display: flex;
    align-items: center;
}
.itmShow {
    width: 49.825vw;
    display: flex;
    flex-direction: column;
}
.itmShow img {
    width: 80%;
}
hr {
    height: 80vh;
    width: .15vw;
    background-color: blue;
}
.itmInfo {
    width: 49.825vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: flex-start;
}
.showBtns {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}